PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?appName=<app-name>
JWT_SECRET=change_me
AWS_REGION=ap-south-1
DYNAMODB_TABLE_NAME=FinanceTransactions
AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<aws-secret-access-key>
